#title{
    background-color: #ff4c68;
    color: #fff;
}
#features{
   padding: 3% 15%;
   background-color: #fff;
   position: relative;
   z-index: 1;
  
   
}
.feature-box{
    text-align: center;
    padding: 5%;
}
p{
    color: #8f8f8f;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
 
.container-fluid{
    padding: 3% 15% 7%;
}
.col-lg-6 col-sm-12
{
    transform: rotate(20deg);
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* navbar */

.navbar{
    padding-bottom: 4.5rem;
    padding-left: 0;
}

.navbar-brand{
    font-family: ubuntu;
    font-size:2.5rem;
    font-weight: bold;
   
}

.nav-item{
    padding-left: 18px;
    padding-right: 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-style:'Montserrat', sans-serif; 
    font-weight:300;
}

/* button */
.download-button{
    margin: 5% 3% 5% 0;
}
/* title-image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

@media(max-width:1028px)
{
    #title{
        text-align: center;
    }
    .title-image{
        transform: rotate(0);
        position: static;
    }
}

.image1{
    margin-bottom: 1rem;
    color: #ef8172;
}
.image1:hover
{
    color: #ff4c68;
}

/* testimonial section */
#testimonials{
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    padding: 40px 20px 60px;
}
.carousel-item{
    padding: 7% 15%;
}

/* pricing section */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

#cta{
    background-color:#ff4c68 ;
    padding: 7% 15%;
    text-align: center;
}
.last-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer{
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.bottom-icon{
    padding:20px 10px;
}